/* Estilos para el MegaMenu */
.custom-megamenu {
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4;
    border: 2px solid blue;
    padding: 1rem;
    background-color: var(--surface-0);
}

p-megamenu-item-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Estilo para el logo */
.menu-logo {
    margin-right: 2.5rem;
    display: flex;
    align-items: center;

}

.menu-logo img {
    max-width: 20vw; /* El 20% del ancho de la pantalla */
    height: auto;
}


/* Estilos de los botones del menú */
.menu-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Estilos para los ítems del menú */
.menu-items {
    display: flex;
    justify-content: center ;
    margin-top: 1rem;
}

.menu-items {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 1.125rem;
    text-transform: uppercase;
    border-radius: 2rem;
    margin: 0 1rem;
    transition: background 0.3s ease, transform 0.2s ease;
}

.menu-item:hover {
    background-color: rgba(0, 0, 255, 0.1);
    transform: scale(1.05);
}


  