<p>paso4 works!</p>
<div class="btn-navigation">
  <!-- Botón Volver atrás -->
  <a routerLink="/paso3">
    <p-button
      icon="pi pi-arrow-left"
      label="Volver atrás"
      variant="text"
      [raised]="true"
      severity="warn"
      class="btn-left"
    />
  </a>

  <!-- Botón adicional (si lo necesitas) -->
  <a routerLink="/otro-paso">
    <p-button
      icon="pi pi-bookmark"
      label="Guardar"
      variant="text"
      [raised]="true"
      severity="secondary"
      class="btn-center"
    />
  </a>

  <!-- Botón Siguiente Paso -->
  <a routerLink="/paso5">
    <p-button
      icon="pi pi-arrow-right"
      label="Siguiente Paso"
      variant="text"
      [raised]="true"
      severity="info"
      class="btn-right"
    />
  </a>
</div>
   
    