.btn-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Espacio predeterminado entre botones */
  padding: 10px;
}

.btn-navigation a {
  flex: 1;
  text-align: center;

}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .btn-navigation {
    gap: 8px; /* Reduce el espacio entre botones en móviles */
    padding: 4px;
  }

}