<p>paso3 works!</p>



<div class="btn-accion">

  <a routerLink="/paso2" >
    <p-button
    icon="pi pi-arrow-left"
      label="Volver atras"
      variant="text"
      [raised]="true"
      severity="warn"
      class="btn-right"
      />
      </a>
      
    <p-button
    icon="pi pi-bookmark"
      label="Guardar"
      variant="text"
      [raised]="true"
      severity="secondary"
      class="btn-left"
    />



    <a routerLink="/paso4" >
    <p-button
    icon="pi pi-arrow-right"
      label="Siguiente Paso"
      variant="text"
      [raised]="true"
      severity="info"
      class="btn-right"
      />
      </a>
  </div>