.btn-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Espacio predeterminado entre botones */
  padding: 10px;
}

.btn-navigation a {
  flex: 1;
  text-align: center;

}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .btn-navigation {
    gap: 8px; /* Reduce el espacio entre botones en móviles */
    padding: 4px;
  }

}
/* Estilos para la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 16px; /* Espaciado entre los elementos */
  padding: 16px; /* Espaciado interno */
}

.grid-container .form-row {
  display: contents; /* Hace que los elementos hijos se comporten como si fueran parte de la cuadrícula */
}

.grid-container .form-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaciado entre el checkbox y el label */
}

/* Responsividad para la cuadrícula */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles */
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
  }
}

/* Estilos para las cards */
.cards-container {
  display: flex;
  gap: 24px; /* Aumenta el espacio entre las cards */
  padding: 24px; /* Aumenta el espaciado interno */
}

.cards-container p-card {
  flex: 1; /* Hace que ambas cards ocupen el mismo espacio */
  max-width: 50%; /* Limita el ancho máximo de cada card al 50% del contenedor */
  padding: 24px; /* Aumenta el espaciado interno de las cards */
}

/* Estilos para el formulario */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Aumenta el espacio entre los elementos */
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Aumenta el espacio entre los elementos */
}

.form-item {
  display: flex;
  align-items: center;
  gap: 12px; /* Aumenta el espacio entre el checkbox y el label */
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

/* Responsividad para las cards */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column; /* Apila las cards verticalmente */
  }

  .cards-container p-card {
    max-width: 100%; /* Las cards ocupan el 100% del ancho en móviles */
  }
}