.btn-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Espacio predeterminado entre botones */
  padding: 10px;
}

.btn-navigation a {
  flex: 1;
  text-align: center;

}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .btn-navigation {
    gap: 8px; /* Reduce el espacio entre botones en móviles */
    padding: 4px;
  }

}


  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    flex-direction: column; /* Cambio para que el p-divider esté debajo */
    align-items: flex-start; /* Alineamos a la izquierda */
    gap: 10px; /* Espaciado entre los elementos */
    padding: 10px 0;
  }
  
  .form-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el checkbox, el label y el file upload */
  }
  
  label {
    flex: 1;
  }
  
  p-divider {
    width: 100%; /* Hace que el p-divider ocupe todo el ancho */
    margin-top: 10px; /* Espaciado para separar el divisor */
  }
  
  textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
  